.container {
  display: column;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: auto;
  width: 80%;
  min-height: 100vh;
  margin-top: 1rem;
}

div.btn-admin-create-top {
width: 100%;
  margin-top: 7vh;
}

div.btn-admin-create-bottom {
    
}

div.btn-admin-nav {

    margin-top: 5vw;
}

button.btn-nav {
    margin: 0.5rem;
    width: 20rem;
    height: 40rem;
  }

button.btn-create {
  margin: 2vh;
  height: 10vh;
}
