.container {
  display: column;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: auto;
  width: 100%;
  min-height: 100vh;
  margin-top: 1vh;
}

div.btn-admin-create-top {
  width: 100%;
  margin-top: 6vh;
}

div.btn-admin-config {
  position: absolute;
  top: 4vh;
  right: 3vw;
}

div.btn-admin-create-bottom {
}

div.btn-admin-nav {
  width: 100%;
  margin-top: 5rem;
}
div.btn-admin-nav-bottom {
  width: 100%;
 
}

div.div-admin-get-all {
  display: grid;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: auto;
  margin-top: 3vh;

}

table {
  color: white;
  font-family: Verdana;
  border-collapse: collapse;
  
}

/* Table for displaying all info about entities admin */

table.table-admin-get-all {
  font-size: 150%;
  border-collapse: collapse;
  width: 60rem;
}

th.th-admin-get-all {
  font-size: 150%;
  padding-top: 0.5rem;
  padding-left: 1rem;
  text-align: left;
  border: 0.1rem solid rgb(255, 255, 255);
}
td.td-admin-get-all {
  border: 0.1rem solid rgb(255, 255, 255);
  padding: 1rem;
  text-align: left;
  width: 50%;
  cursor: pointer;
}

td.td-admin-get-all:hover {
  
  background-color: rgb(99, 97, 97);
  opacity: 0.8;
}

/*******************************************/


/* Table for displaying info about single entity */
/*************************************************************/

table.table-admin-get-one {
  font-size: 150%;
  border-collapse: collapse;
  width: 60rem;
}

th.th-admin-get-one {
  font-size: 150%;
  padding-top: 0.5rem;
  padding-left: 1rem;
  text-align: left;
  border: 0.1rem solid rgb(255, 255, 255);
}
td.td-admin-get-one {
  border: 0.1rem solid rgb(255, 255, 255);
  padding: 1rem;
  text-align: left;
  width: 50%;
 
}

/***************************/



/* Buttons for admin listing info*/
/***********************************************************************/

table.table-admin-but {
  font-size: 130%;
  width: 50rem;
  margin: auto;
  margin-top: 2rem;
  margin-bottom: 3rem;
}

td.td-admin-but {
 
  border: 0.1rem solid rgb(255, 255, 255);
  padding: 1rem;
  cursor: pointer;
  width: 25%;

}

td.td-admin-but:hover {
  
  background-color: rgb(99, 97, 97);
  opacity: 0.8;
}
/***********************************/


button.btn-admin-get-users {
}

button.btn-admin-get-players {
  width: 30rem;
}

button.btn-nav {
  margin: 0.5rem;
  min-width: 25rem;
  min-height: 18.75rem;
  width: 40rem;
  height: 30rem;
}

#btn-stadium {
  background: url(../images/stadium.jpg);
  background-size: 400px 300px;
  font-family: Verdana;
  text-shadow: 2px 2px 2px #000000;
  font-size: 50px;
  color: yellow;
}

#btn-players {
  background: url(../images/players.jpg);
  background-size: contain;
  font-family: Verdana;
  text-shadow: 2px 2px 2px #000000;
  font-size: 50px;
  color: yellow;
}

#btn-teams {
  background: url(../images/teams.jpg);
  background-size: 400px 370px;
  font-family: Verdana;
  text-shadow: 2px 2px 2px #000000;
  font-size: 50px;
  color: yellow;
}

#btn-managers {
  background: url(../images/managers.jpg);
  background-size: 400px 300px;
  font-family: Verdana;
  text-shadow: 2px 2px 2px #000000;
  font-size: 50px;
  color: yellow;
}


#btn-users {
  background: url(../images/users.png);
  background-size: 390px 300px;
  font-family: Verdana;
  text-shadow: 2px 2px 2px #000000;
  font-size: 50px;
  color: yellow;
}

#btn-general {
  background: url(../images/general.png);
  background-size: 400px 300px;
  font-family: Verdana;
  text-shadow: 2px 2px 2px #000000;
  font-size: 50px;
  color: yellow;
}

#btn-address {
  background: url(../images/address.png);
  background-size: 390px 300px;
  font-family: Verdana;
  text-shadow: 2px 2px 2px #000000;
  font-size: 50px;
  color: yellow;
}

#btn-matches {
  background: url(../images/matches.png);
  background-size: 400px 300px;
  font-family: Verdana;
  text-shadow: 2px 2px 2px #000000;
  font-size: 50px;
  color: yellow;
}

#btn-goaltype {
  background: url(../images/goaltypes.png);
  background-size: 400px 300px;
  font-family: Verdana;
  text-shadow: 2px 2px 2px #000000;
  font-size: 50px;
  color: yellow;
}

#btn-locations {
  background: url(../images/locations.png);
  background-size: 400px 300px;
  font-family: Verdana;
  text-shadow: 2px 2px 2px #000000;
  font-size: 50px;
  color: yellow;
}

#btn-season {
  background: url(../images/seasons.png);
  background-size: 390px 300px;
  font-family: Verdana;
  text-shadow: 2px 2px 2px #000000;
  font-size: 50px;
  color: yellow;
}

#btn-association {
  background: url(../images/association.png);
  background-size: 400px 300px;
  font-family: Verdana;
  text-shadow: 2px 2px 2px #000000;
  font-size: 50px;
  color: yellow;
}


button.btn-create {
  margin: 2vh;
  margin-bottom: 0.5rem;
  height: 10vh;
}

.btn-ret-admin {
  margin-top: 0.1rem;
  /* Må fikses posisjonen her*/

}

.div-ret-general{

  position: absolute;
  top: 7rem;
  right: 1vw;

}

  .seasons-container {
    float: center;
    height: 50vh;
    width: 25vw;
    border:2px solid black;
    margin-left: 1vw;
  }
  div.info-container {
    position: relative;
    display: flex;
    flex-direction: grid;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 10vh;
    
  }





