body {
  background: url(../images/background.jpg) no-repeat center center fixed;
  background-size: cover;
  height: 100vh;
  min-height: 100vh;
  display: block;
  flex-direction: column;
  justify-content: center;
  margin: auto;
}

button {
  font-family: Verdana;
  font-size: 15px;
  font-weight: bold;
  margin: auto;
  margin: 0.3rem;
  height: 5vh;
  min-height: 1.3cm;
  width: 7vw;
  min-width: 2cm;
  border-width: 0.1rem;
  border-color: black;
  border-radius: 6px;
}

button.btn-ret {
  position: absolute;
  top: 7rem;
  right: 5vw;

  /* Må fikses posisjonen her*/
}

.logo {
  display: grid;
  height: 100%;
  margin: auto;
  margin-top: 6rem;
}



h1,
h2 {
  color: white;
  font-family: Verdana;
  font-weight: bold;
}

p {
  color: white;
  font-size: 150%;
  font-family: Verdana;
}
