div.info-container {
  position: relative;
  display: flex;
  flex-direction: grid;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 10vh;
  
}

div.frontpage-info1 {
  height: 50vh;
  width: 25vw;
  border: 2px solid black;
  margin-left: 1vw;
	background-color:#f9f9f9;
}

div.frontpage-info2 {
  height: 50vh;
  width: 25vw;
  border: 2px solid black;
  margin-left: 1vw;
	background-color:#f9f9f9;

}
div.top {
  line-height: 20px;
  vertical-align: middle;
}

div.top h2 {
  text-align: center;
}


div.btn-group-index-toggle-info {
  display: column;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: auto;
  margin-top: 5vh;
}

div.btn-group-index-login-reg {
  position: absolute;
  top: 5.5rem;
  right: 2.5vw;
}

button.btn-index-login-reg {
  font-family:Verdana;
	font-size:15px;
	font-weight:bold;
  margin: 0.3vw;
  height: 7rem;
  width: 10rem;
  margin: 0.5rem;
  border-width: 0.1rem;
  border-color: black;
  border-radius: 6px
}

button.btn-index-toggle-info {
  font-family:Verdana;
	font-size:15px;
	font-weight:bold;
  margin: 0.3vw;
  height: 5rem;
  width: 15rem;
  border-width: 0.1rem;
  border-color: black;
  border-radius: 6px
}

form {
  border-width: 1rem;
  border-color: rgb(253, 194, 194);
}

.form-div {
  position: absolute;
  top: 15vh;
  right: 1vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  margin-top: 5vh;

}

.form-container {
  padding: 1rem;
  width: 27rem;
  border: solid;
  border-width: 0.1rem;
  border-color: white;
  border-radius: 2px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

/* Full-width input fields */
.form-container input[type="text"],
.form-container input[type="password"] {
  width: 97%;
  height: 4rem;
  margin: 10px 2px 10px 2px;
  background: #f1f1f1;
  border-radius: 2px;
}



/* Set a style for the submit/login button */
.form-container .btn {
  background-color: white;
  color: black;
  padding: 16px 20px;
  border: solid;
  border-width: 0.1rem;
  border-radius: 6px;
  cursor: pointer;
  width: 48%;
  margin: 1%;
  margin-bottom: 10px;
  opacity: 0.8;
  display:flex;
  justify-content: center;
}

/* Add some hover effects to buttons */
.form-container .btn:hover,
.open-button:hover {
  opacity: 2;
}
body {
  background: url(../images/background.jpg) no-repeat center center fixed;
  background-size: cover;
  height: 100vh;
  min-height: 100vh;
  display: block;
  flex-direction: column;
  justify-content: center;
  margin: auto;
}

.btn-search{
  position: relative;
  right: 220px;
  top: 55px;
  height: 30px;
}






        





